/* selector for id="container" */
/*#container {*/
/*    margin: 50px auto;*/
/*    width: 500px;*/
/*    padding: 10px;*/
/*}*/

/*!*  selector for all "h1" elements*/
/*    that are a descendent of id="container"*/
/*    and have a class of "fancy-header" *!*/
#container h1.fancy-header{
    color: blue;
    text-decoration: underline;
}

/* selector for all "em" elements */
em {
    font-weight: bold;
}

/* selector for all elements with class="article" */
.article {
    clear:both;
}

/*  selector for all "anchor" elements
    that are a direct child of an element with class="article" */
.article > a {
    float:right;
}

body {
    font-family: 'cursive', cursive;
}



    h1 {
        text-align: center;
        color: red;
        text-decoration: underline;
    }
    li {
        list-style-type: square; /* You can use 'circle', 'square', or 'none' as well */
    }

    /** {*/
    /*    background-color: blue;*/
    /*}*/
    body {
        background-image: url('/img/kidgoku.jpeg');
    }
    table {
    width: 100%;
    border-collapse: collapse;
    }

    tr {
    padding: 10px; /* Add padding to rows */
    font-size: 16px; /* Change font size for rows */
    }

    td {
    padding: 5px; /* Add padding to cells */
    font-size: 14px; /* Change font size for cells */
    }
    a {
    text-decoration: none; /* Removes underline */
    color: #0077b6; /* Set the text color for normal state */
    }

/* Style for hover state when the mouse is over the anchor */


/* Style for active state when the link is clicked */
    a:active {
    color: #f94144; /* Set the text color on click */
    }

/* Style for visited anchor tags */
    a:visited {
    color: #7209b7; /* Set the text color for visited links */
    }

    a:hover {
        text-decoration: underline; /* Add underline on hover */
        color: #f3a368; /* Set the text color on hover */
    }

    